#about {
  &.tab-content {
    padding: 75px 34px;
  }

  .section {
    &-icon {
      flex-basis: 40%;

      img {
        margin: 0 auto;
        margin-right: 50px;
        width: 215px;
      }
    }

    &-text {
      flex-basis: 52%;
    }

    &-wrapper {
      margin-top: 45px;
    }

    &-row {
      &:nth-child(even) {
        flex-direction: row-reverse;
        
        .section-icon {
          flex-basis: 50%;

          img {
            margin-left: 65px;
            margin-right: unset;
            width: 270px;
          }
        }

        .section-text {
          flex-basis: 45%;
          text-align: right;
        }
      }

      &:nth-child(3) {
        .section-icon img {
          margin-right: 70px;
          width: 220px;
        }

        .section-text {
          flex-basis: 53%;
        }
      }

      &:nth-child(4) {
        .section-icon img {
          margin-left: 85px;
          width: 200px;
        }

        .section-text {
          flex-basis: 50%;
        }
      }

      &:nth-child(5) {
        .section-icon img {
          width: 225px;
        }
      }
    } 
  }

  @include respond-to(lg-down) {
    &.tab-content {
      padding: 30px 15px;
    }
  }

  @include respond-to(md-down) {
    .section-row {
      &:nth-child(odd) .section-icon,
      &:nth-child(even) .section-icon {
        flex-basis: 20%;
      }

      &:nth-child(odd) .section-text,
      &:nth-child(even) .section-text {
        flex-basis: 80%;
      }
    }

    .section-row .section-icon img {
      margin: 0 30px !important;
      width: 150px !important;
    }
  }

  @include respond-to(xs) {
    .section-row {
      .section-icon {
        margin-bottom: 20px;
      }

      &:nth-child(odd),
      &:nth-child(even) {
        flex-direction: column;
      }

      &:nth-child(odd) .section-text,
      &:nth-child(even) .section-text,
      &:nth-child(odd) .section-icon,
      &:nth-child(even) .section-icon {
        flex-basis: 100%;
        text-align: center;
      }
    }
  }
}