
$font-gotham: 'Gotham';

$text-color: #898989;
$brand-color: #F5235F;
$bunting: #101940;

$yellow: #FBA936;
$black: #000;
$white: #fff;

$gray: #9FA2B4;
$mercury: #E6E6E6;
$french-gray: #B6BAC7;
$light-gray: #AEB8D0;
$athens-grey: #DFE0EB;
$wild-sand: #FCFCFC;
$alabaster: #FBFBFB;

$base-url: '../assets/' !default;