//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $font-gotham;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: $font-gotham;
  padding: 0;
  margin: 0;
}

a {
  font-family: $font-gotham;
  font-weight: 400;
  color: $brand-color;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  color: $brand-color;
  line-height: 128%;
}

h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  color: $black;
}

h3 {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;

  color: #30233D;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.small-title {
  display: block;
  font-family: $font-gotham;
  font-weight: 700;
  font-size: 12.6px;
  letter-spacing: 6px;
  text-transform: uppercase;

  color: $yellow;
}

.font-bold,
strong,
p > strong {
  font-weight: 600;
  color: $black;
}

@include respond-to(lg-down) {
  h2 {
    font-size: 36px;
    line-height: 1.5;
  }
}

@include respond-to(md-down) {
  h2 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
  }
}

@include respond-to(sm-down) {
  h3 {
    font-size: 24px;
  }
}

@include respond-to(xs) {
  h2 {
    font-size: 28px;
  }
}